APP_NAME = 'django_template' # SAME SAME AS MAIN FOLDER NAME # NO SPACES, NO SPECIAL CHARACTERS, NO NUMBERS, NO MIDDLE DASHES
APP_DESCRIPTION = 'Template for Django projects'

PROTOCOL = 'http'
MAIN_DOMAIN = ''

DJANGO_APP_PORT = '8000'
DJANGO_ROOT_PATH = './django-template'
NGINX_APP_PORT = '80'
NGINX_MEM_LIMIT = '512' # in MB
REDIS_HOST = 'redis'
REDIS_PORT = '6379'
REDIS_MEM_LIMIT = '512' # in MB
PSQL_PORT = '5432'
PSQL_MEM_LIMIT = '1024' # in MB

#POSTGRESQL 
PSQL_ENGINE = 'django.db.backends.postgresql'
PSQL_NAME = 'template_db'
PSQL_USER = 'template_user'
PSQL_PASSWORD = 'template_password'
PSQL_HOST = 'db'

TZ = 'America/Chihuahua'
LANGUAGE_CODE = 'es-mx'
